<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="row">
      <!--heading on the nav bar-->
      <div class="col-sm-10 col-md-10 col-lg-10 col-xs-10">
        <p class="navbar-text">
          <a [routerLink]= " [ '/user']">
            <b>Home</b>
          </a>
        </p>

        <p class="navbar-text">
          <a [routerLink]= " [ '/user' , userId, 'sell']">
            <b>Sell</b>
          </a>
        </p>


        <p class="navbar-text">
          <a [routerLink]= " [ '/user' , userId, 'payments']" >
            <b>Payments</b>
          </a>
        </p>

        <p class="navbar-text">
          <a [routerLink]= " [ '/user' , userId, 'pickup']" >
            <b>Pickup</b>
          </a>
        </p>

        <p class="navbar-text">
          <a [routerLink]= " [ '/user' , userId, 'cpoint']" >
            <b>Collection Points</b>
          </a>
        </p>

        <p class="navbar-text">
          <a [routerLink]= " [ '/user' , userId, 'cpoint']" >
            <b>Catalog</b>
          </a>
        </p>
        <!--tick mark-->


      </div>
      <div class="col-sm-2 col-md-2 col-lg-2 col-xs-2">
        <button type="button" class="btn btn-default btn-sm" (click)="logout()">
          <span class="glyphicon glyphicon-log-out"></span> Log out
        </button>
      </div>
    </div>
  </div>
</nav>







<div class="etm-page-body">
  <div class="container-fluid">
  <h1>Google Maps Places Autocomplete</h1>
  <div class="form-group">
    <input placeholder="search for location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #search [formControl]="searchControl">
  </div>
  <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
    <agm-marker [latitude]="latitude" [longitude]="longitude" (markerClick)="updateDiv(latitude,longitude)"></agm-marker>
    <agm-marker [latitude]="latitude+0.05" [longitude]="longitude" (markerClick)="updateDiv(latitude,longitude)" [iconUrl]="'assets/images/map-localization.png'"></agm-marker>
  </agm-map>
</div>
</div>



<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a href="profile.html">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>
