
<nav class="navbar-inverse bg-inverse bg-primary" >


  <div class=" container-fluid topnav" id="myTopnav">
    <a class="navbar-brand pull-left" href="#">Home</a>
    <a class="navbar-brand pull-left" href="#">About Us</a>
    <a class="navbar-brand pull-left" [routerLink]= " [ '/buy']">Buy</a>
    <a class="navbar-brand pull-right" [routerLink]= " [ '/login']">Login</a>
    <a class="navbar-brand pull-right" [routerLink]= " [ '/register']">Register</a>
  </div>
</nav>
<div class =container-fluid style="margin-top: 50px">
  <h2>Team Members</h2>
  <h4>Hemanth Shetty</h4>
  <h4>Tarunpreet Singh</h4>
</div>
