<nav class="navbar-inverse bg-inverse bg-primary" >
  <div class="container">
    <a class="navbar-brand" [routerLink]= " [ '/home']">Home</a>
    <a class="navbar-brand" href="#">About Us</a>
    <a class="navbar-brand" href="#">Buy</a>
    <a class="navbar-brand" href="#">Sell</a>
    <a class="navbar-brand pull-right" [routerLink]= " [ '/login']">Login</a>
    <a class="navbar-brand pull-right" [routerLink]= " [ '/register']">Register</a>
  </div>
</nav>
<div class="container-fluid">
  <div *ngIf="errorFlag"
       class="alert alert-danger">
    {{errorMsg}}
  </div>
  <div class="panel panel-primary" style="margin:20px;">
    <div class="panel-heading">
      <h3 class="panel-title">Login</h3>
    </div>
    <div class="panel-body">
  <form (ngSubmit)="login()" #f="ngForm">

    <input
      placeholder="username"
      name="username"
      type="text"
      class="form-control"
      ngModel
      required
      #username= "ngModel"/>
    <span class="help-block" *ngIf="!username.valid && username.touched">
      Please enter username!
   </span>


    <input
      placeholder="password"
      name="password"
      type="password"
      class="form-control"
      ngModel
      required
      #password = "ngModel"/>
    <span class="help-block" *ngIf="!password.valid && password.touched">
      Please enter Password!
   </span>

    <button class="btn btn-primary btn-block"
            type="submit"
            [disabled]= "!f.valid">Login</button>

    <button class="btn btn-success btn-block" routerLink="/register">Register</button>
  </form>
    </div>


</div>
