<nav class="navbar-inverse bg-inverse bg-primary" >
  <div class="container">
    <a class="navbar-brand" [routerLink]= " [ '/home']">Home</a>
    <a class="navbar-brand" href="#">About Us</a>
    <a class="navbar-brand" href="#">Buy</a>
    <a class="navbar-brand" href="#">Sell</a>
    <a class="navbar-brand pull-right" [routerLink]= " [ '/login']">Login</a>
    <a class="navbar-brand pull-right" [routerLink]= " [ '/register']">Register</a>
  </div>
</nav>
<div class="container-fluid">
  <div *ngIf="errorFlag"
       class="alert alert-danger">
    {{errorMsg}}
  </div>
  <div class="panel panel-primary" style="margin:20px;">
    <div class="panel-heading">
      <h3 class="panel-title">Login</h3>
    </div>
    <div class="panel-body">
      <input placeholder="username"
             [(ngModel)]="username"
             type="text"
             class="form-control"/>
      <input placeholder="password"
             [(ngModel)]="password"
             type="password"
             class="form-control"/>
      <div *ngIf="isInvalid"
           class="alert alert-danger">
        {{notificationMessage}}
      </div>
      <a class="btn btn-primary btn-block" (click)="login(username,password)">Login</a>
      <a class="btn btn-success btn-block" (click)="register()">Register</a>
    </div>
</div>
