<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="row">
      <!--heading on the nav bar-->
      <div class="col-sm-10 col-md-10 col-lg-10 col-xs-10">

<span *ngIf="userIdentity.role=='Admin'||userIdentity.role=='User'||userIdentity.role=='Employee'||userIdentity.role=='Organization'">
        <p class="navbar-text">
      <a [routerLink]= " [ '/user']">
        <b>Home</b>
      </a>
    </p>
  <span *ngIf="userIdentity.role=='Admin'||userIdentity.role=='User'">
    <p class="navbar-text">
      <a [routerLink]= " [ '/user' , userId, 'sell']">
        <b>Sell</b>
      </a>
    </p>


        <p class="navbar-text">
          <a [routerLink]= " [ '/user' , userId, 'dropoff']" >
            <b>DropOffs</b>
          </a>
        </p>
  </span>

<span *ngIf="userIdentity.role=='Admin'||userIdentity.role=='Employee'">
        <p class="navbar-text">
          <a [routerLink]= " [ '/user' , userId, 'cpoint']" >
            <b>Collection Points</b>
          </a>
        </p>

        <p class="navbar-text">
          <a [routerLink]= " [ '/user' , userId, 'catalog']" >
            <b>Catalog</b>
          </a>
        </p>
</span>
  <span *ngIf="userIdentity.role=='Admin'">
        <p class="navbar-text">
          <a [routerLink]= " [ '/user' , userId, 'manage','user']" >
            <b>Manage Users</b>
          </a>
        </p>
</span>
  <!--tick mark-->
</span>


      </div>
      <div class="col-sm-2 col-md-2 col-lg-2 col-xs-2">
        <button type="button" class="btn btn-default btn-sm" (click)="logout()">
          <span class="glyphicon glyphicon-log-out"></span> Log out
        </button>
      </div>
    </div>
  </div>
</nav>


<div class="etm-page-body">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span3"><span class="h4 text-primary">Application Users</span> <p class="pull-right">
        <a [routerLink]= " [ '/user' , userId , 'manage' , 'user','new']" class="navbar-link">
          <span class="glyphicon glyphicon-plus"></span>
        </a>
      </p>
      </div>
    </div>
    <div class="container-fluid" *ngFor="let user of users">
      <ul class="list-group">
        <li class="list-group-item"><b> ID : {{user._id}} </b>
          <a [routerLink]= " ['/user' , userId , 'manage' , 'user',user._id]"> <span class="pull-right glyphicon glyphicon-cog"></span></a>
          <p> NAME : {{user.firstName}} {{user.lastName}} </p>
        </li>
      </ul>
    </div>
  </div>
</div>



<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a href="profile.html">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>

  </div>
</nav>

